<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SWEIS - Inicia sesión</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../css/style.css">

</head>
<body>
<body>

  <div class="container">
    <div class="backbox">
      <div class="loginMsg">
      	<img src="images/banner.png" width="285px" height="80px">
        <div class="textcontent">
          <p class="title">¿No tienes una cuenta?</p>
          <p>Regístrate aquí</p>
          <button id="switch1">Registrarse</button>
        </div>
      </div>
      <div class="signupMsg visibility">
      	<img src="images/banner.png" style="margin-left: 12px;" width="288px" height="80px">
        <div class="textcontent">

          <p class="title">¿Tienes una cuenta?</p>
          <p>Inicia sesión para acceder a ella</p>
          <button id="switch2">Iniciar Sesión</button>
        </div>
      </div>
    </div>

    <div class="frontbox">
      <div class="login">
        <h2>Inicia Sesión</h2>
        <div class="inputbox">
        <form action="/sesion" method="post">
        <div class="form-group">
            <input type="text" name="correo" placeholder="Correo Electrónico">
        </div>
        <div class="form-group">
            <input type="password" name="contrasena" placeholder="Contraseña">
        </div>
            
        </div>
        <p>¿Olvidaste tu contraseña?</p>
        <button type="submit" class="btn btn-primary mt-1">
            Iniciar sesión
        </button>
    </form>
      </div>

      <div class="signup hide">
        <h2>Regístrate</h2>
        <div class="inputbox">
          <input type="text" name="nombres" placeholder="Nombres y Apellidos">
          <input type="text" name="email" placeholder="Correo Electrónico">
          <input type="password" name="password" placeholder="Contraseña">
        </div>
          <a href="#"><button>Registrarse</button></a>
      </div>

    </div>
    <!-- frontbox -->
  </div>
</body>

</html>
<!-- partial -->
  <script  src="../../js/script.js"></script>

</body>
</html>

