<head>
	<title>DatosEncuesta - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



	<div  id="banner" class="container-fluid">
		<div class="row">
			<div class="col-md-7 text-white text-center">
				<a href="https://ingsistemas.cloud.ufps.edu.co/"><img src="../../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div></a>
				<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>	
					<a href="/poblacion"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Poblaciones</button></a>			
					<a href="/inicio"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
						  <a href="#"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
					<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
				</div>				
		</div>
	</div><br>

<div id="contenido">
	<form action="/encuestas/publicar" method="post">
<p id="datos"><b> Datos de la encuesta </b></p>
	<div id="contenido2">
	<label id="texto"style="margin-left: 20px;">Población: </label>
	<select nombre="poblacion" class="form-select" style="margin-left:79px;" aria-label="Default select example">
		<% for(let i = 0; i<poblaciones.length;++i){ %> 
  		<option value="<%=poblaciones[i].id_poblacion%>"><%=poblaciones[i].nombre%></option>
  		<%}%>
	</select>
	</div>
<br><%console.log(data)%>
	<div id="contenido2">
	<label id="texto"style="margin-left: 20px;">Fecha Inicio: </label>
	<input required style="margin-left: 65px;" type="date" name="fecha_ini">
	</div> 
	<input type="hidden" id="json" name="json" value="x">
	<%const tempoTranscurrido = Date.now();%>
	<%const hoy = new Date(tempoTranscurrido);%>
	<input type="hidden" id="fecha_hoy" name="fecha_hoy" value="<%=hoy%>">
<br>
	<div id="contenido2">
		<label id="texto"style="margin-left: 20px;">Fecha Finalización: </label>
		<input required style="margin-left: 21px;" type="date" name="fecha_fin">
	</div>   	
	<br>
<button type="submit" id="btnPublicar" class="btn btn-danger" style="width: 180px;">Publicar Encuesta</button>
</form>
</div>


