<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SWEIS - Inicia sesi칩n</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script  src="../../js/inicio.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
</head>
<body style='background-image: url("../images/fondo4.jpg");background-repeat: repeat-x;background-repeat: repeat-y;
background-size: 100%;'>
    <div id="olvidarcontra">
        <div class="olvidar  text-center" style="display: flex; align-items: center; text-align: center; justify-content: center;">
            <div class="">
                    <b><label  class="form-label">Si esta registrado, se le enviar치 una nueva contrase침a a su correo electr칩nico.</label></b><br>
                    <a href="/"><button type="button" id=" " class="btn btn-danger">Volver</button></a>
                    </div>
            </div>
    </div>

    
        
    </div>

</body>

</html>
<!-- partial -->
<script  src="../../js/script.js"></script>


</body>
</html>