<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>SWEIS - Inicia sesión</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script  src="../../js/inicio.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
</head>
<body style='background-image: url("../images/fondo4.jpg");background-repeat: repeat-x;background-repeat: repeat-y;
background-size: 100%;'>
    <div id="olvidarcontra">
    <div class="olvidar  text-center" style="display: flex; align-items: center; text-align: center; justify-content: center;">
        <div id="">
          <form action="/nuevacontrasenia" method="post">
                  
                
                    <b><label for="exampleFormControlInput1" class="form-label">Ingrese su correo</label></b>
                    <input type="email" name="correo" class="form-control" id="correo" placeholder="name@example.com" required><br>
              
                  <a href="/"><button type="button"  id="enviar" class="btn btn-danger">Volver</button></a>
                  <button type="submit"  id="enviar" class="btn btn-danger">Enviar</button>
                  
                  
                
          </form>
          </div>
                </div>
    </div>

    
        
    </div>

</body>

</html>
<!-- partial -->
<script  src="../../js/script.js"></script>


</body>
</html>