<html>
    <head>
	<title>Preguntas - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
</head>
<body style='background-image: url("../images/fondo3.jpg");background-repeat: repeat-x;background-repeat: repeat-y;
background-size: 100%;'>
	<script rel="stylesheet" type="text/javascript" src="../../js/encuesta.js"></script>



	<div  id="banner" class="container-fluid">
		<div class="row ml-5">
			<div class="col-md-7 text-white text-center">
				<a href="https://ingsistemas.cloud.ufps.edu.co/"><img src="../../images/logo.png" class="d-block" alt='...' height="70px" width="70px"></div></a>
				<div id="fuente" class="col-md-5 text-white text-center"><br>	
					<a href="/poblacion"><button type="button" onclick ="" class="btn text-white" style="font-family:Gill Sans; font-size: 20px;">Poblaciones</button></a>			
					<a href="/inicio"><button type="button" onclick ="" class="btn text-white" style="font-family:Gill Sans; font-size: 20px;">Encuestas</button></a>
						  <a href="#"><button type="button" class="btn text-white" style="font-family: Gill Sans; font-size: 20px;">Mi cuenta</button></a>
					
				</div>				
		</div>
	</div><br><br>

<div id="contenido3">
<form action="/encuestas/publicar" method="post">

	<input type="text" placeholder="Título de la Encuesta" name="titulo" class="confondo" style="width: 400px; border-bottom:solid 2px; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF" required>
	<input type="file" name="archivosubido">
		<br><br>
		<p>Descripción de la encuesta:</p>
		<textarea style="margin: 0 auto;" name="descripcion" rows="2" cols="122" required></textarea>
		<br><br><br><div id="contenido" style="width: 50%;">
		<p id="datos"><b> Datos de la encuesta </b></p>
			<div id="contenido2">
			<label id="texto">Población: </label>
			<select   name="poblacion" class="form-select"  aria-label="Default select example">
				<% for(let i = 0; i<poblaciones.length;++i){ %> 
				  <option value="<%=poblaciones[i].id_poblacion%>"><%=poblaciones[i].nombre%></option>
				  <%}%>
			</select>
			</div>
		<br>
			<div id="contenido2">
			<br><label id="texto">Fecha Inicio: </label>
			<input required id="fecha1" type="date" name="fecha_ini" min="">
			</div> 
			<input type="hidden" id="json" name="json" value="x">
			<%const fecha = new Date();%>
			
			<input type="hidden" id="fecha" name="fecha_hoy" value="">
		<br>
			<div id="contenido2">
				<label id="texto">Fecha Finalización: </label>
				<input required id="fecha2" type="date" name="fecha_fin" min="">
			</div>   	
			<br>
		</div>
		<br>
		<br>

		<div id="preg1"></div>
<br><br><br>
		<div class="row">
			<div  style="margin-top: 1.3%;" class=" col-md-3 form-group text-center">
			<select id="tipo" class="form-select"  aria-label="Default select example" placeholder="Opciones de respuestas">
				<% for (let i=0; i< tipos.length ; ++i) {%>
					<option value="<%=tipos[i].id_tipo_pregunta%>"><%=tipos[i].descripcion%></option>
				<%}%>
			</select> 
			</div>
			<button class="btn btn-danger" style="background-color: #e20319 ;" onclick="agregarpregunta()" type="button">Agregar Pregunta</button>
		</div>

		<div><button class="btn btn-primary" style="text-align: right; margin-left: 80%;" id="agregar" type="submit" >Finalizar Encuesta</button></div>
	</form>
</div>
<br>


<br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$( document ).ready(function() {

    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $("#fecha").val(today);
	$("#fecha1").attr("min", today);
	$("#fecha2").attr("min", today);
});
</script>
<script>

	$(document).ready(function () {
		$('#fecha1').change(function () {
			extraer = $('#fecha1').val();

			$('#fecha2').attr("min",extraer);
		});
	});

</script>
    </body>
</html>
